header{
    height: 350px;
    background-image:url(Background-Narrow.jpg);
    background-size:cover;
    background-position: center 480px;
}

.font {
    font-size: 60px;
    font-weight: 300; /* bold */
    font-family: 'Nanum Pen Script', cursive;
    line-height: 2;
    letter-spacing: 4px;
    text-align: center;
}


.font2 {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;

}

.font3{
    font-family: 'Sunflower', sans-serif;
}

footer{
    height: 50px;
    background-color:#330066;
    background-size:cover;
}

.arrow{
    color: white;
}
